.results-search
  = haml :_search

.main

  - search_results.each do |result|
    .item
      .title
        %a{ href: "/show?url=#{result.title[:href]}" }= result.title[:text]
      .artist
        = " by #{result.artist}"
      .type
        = result.item_type
